@model IEnumerable<TesteDengine.Application.Services.DTOs.ClienteDTO>

@{
    ViewData["Title"] = "Clientes";
}

<h2>Clientes</h2>

<a asp-action="Create" class="btn btn-primary">Novo Cliente</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.ClienteId</td>
                <td>@cliente.Nome</td>
                <td>
                    <a asp-action="Details" asp-route-id="@cliente.ClienteId">Detalhes</a> |
                    <a asp-action="Edit" asp-route-id="@cliente.ClienteId">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@cliente.ClienteId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
